/* page */
.container {
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
}
.bg-primary {
    background-color: $primary;
}
header {
    // height: 108px;
    padding: 14px 88px;
}
header ul li {
    margin-left: 64px;
}
header ul li:first-child {
    margin-left: 0;
}
@media screen and (max-width: 768px) {
    header {
        padding: 0 29px 0 39px;
    }
    header ul li {
        margin-left: 40px;
    }
}
@media screen and (max-width: 414px) {
    header {
        padding: 0;
        height: auto;
    }
    header img {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: auto;
        margin-left: auto;
    }
    header ul {
        width: 100%;
    }
    header ul li {
        width: 50%;
        border: 1px solid $white;
        margin-left: 0;
        text-align: center;
        padding: 8px 0;
    }
}
main {
    padding-top: 96px;
    padding-bottom: 160px;
}

.store {
    width: 40%;
}
.store-contact h3 {
    font-size: 24px;
}
.store-contact ul {
    font-size: 20px;
}
.store-contact img{
    width: 18px;
    height: 18px;
    margin-right: 11px;
}
.store-contact li:not(:last-child) {
    margin-bottom: 10px;
}
.store-info {
    display: flex;
    flex-direction: column;
}
.map {
    max-width: 60%;
}
@media screen and (max-width: 768px) { 
    main, footer {
        padding-left: 40px;
        padding-right: 40px;
    }
    .store {
        width: 100%;
    }
    .store-photo{
        width: 50%;
    }
    .store-contact {
        width: 50%;
    }
    .store-contact h3 {
        font-size: 16px;
    }
    .store-contact ul {
        font-size: 14px;
    }
    .store-contact img{
        width: 15px;
        height: 15px;
        margin-right: 11px;
    }
    .store-info {
        flex-direction: row;
        gap: 30px;
        justify-content: c;
    }
    .map {
        max-width: 100%;
    }
}
@media screen and (max-width: 414px) { 
    main, footer{
        padding-left: 15px;
        padding-right: 15px;
    }
    .store-info {
        flex-direction: column;
        gap: 12px;
    }
    .store-photo{
        width: 100%;
    }
    .store-contact {
        width: 100%;
    }
    .map {
        max-width: 100%;
    }
}
footer {
    padding-top: 32px;
    padding-bottom: 40px;
    color: $white;
}
.footer-menu li:not(:last-child){
    margin-right: 48px;
}
.sns-menu li:not(:last-child){
    margin-right: 32px;
}
.contact {
    font-size: 36px;
    margin-bottom: 16px;
}
.contact img {
    width: 36px;
    height: 36px;
    margin-right: 22px;
}
.copy-right {
    justify-content: space-between;
    border-top: 1px solid $white;
    margin-top: 24px;
    padding-top: 32px;
}
@media screen and (max-width: 768px) { 
    .footer-menu li:not(:last-child){
        margin-right: 0;
    }
    .mx {
        width: 70%;
    }
    .footer-menu {
        justify-content: space-between;
    }
    .contact {
        font-size: 20px;
    }
    .contact img {
        width: 18px;
        height: 18px;
        margin-right: 11px;
    }
    .sns-menu img{
        width: 24px;
        height: 24px;
    }
    .sns-menu li:not(:last-child){
        margin-right: 24px;
    }
}
@media screen and (max-width: 414px) { 
    .footer-menu {
        display: none;
    }
    .contact {
        font-size: 16px;
    }
    .copy-right {
        flex-direction: column;
    }
    .policy {
        flex-direction: column;
    }
    .policy li{
        margin-top: 8px;
    }
}